[Unit]
Description=XTOC Config v1.0.2 Node.js Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=xtocsvc
Group=xtocsvc
WorkingDirectory=/var/www/xtoc-config
Environment=HOME=/home/xtocsvc
Environment=NPM_CONFIG_CACHE=/var/www/xtoc-config/.npmcache
ExecStart=/usr/bin/node /var/www/xtoc-config/server.js
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
